.cv-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.cv-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  max-height: 70%; /* Add max-height to limit the height */
  overflow-y: auto; /* Add overflow-y to make content scrollable */
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 2px solid #000;
}

#exit-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: auto;
  cursor: pointer;
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.other-experience {
  margin-top: 20px;
}

#experience-btn {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #000;
  transition: transform 0.1s ease-out; /* Add transition for smooth effect */
}

#experience-btn:hover {
  transform: translateY(-5px); /* Move the button up by 5px on hover */
}

.experience {
  width: 100%; /* Adjust width as needed */
  max-height: 100%; /* Ensure it fits within the popup */
  overflow-y: auto; /* Make content scrollable if it exceeds the height */
  text-align: left;
}

.experience ul {
  list-style-type: none;
  padding: 0;
}

.experience li {
  margin: 10px 0;
  font-size: 1.2rem;
}

.experience,
p {
  font-size: 0.8rem;
}

.not-found p {
  font-size: 1rem;
  font-weight: bold;
}
