@font-face {
  font-family: "Caviar-Dreams";
  src: url("./assets/fonts/Caviar-Dreams/CaviarDreams.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kindergarten";
  src: url("./assets/fonts/Kindergarten/kindergarten.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #e5f0e0;
}

.portfolio-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-box {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-style: dashed !important;
  border: 2px solid #000;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 800px;
  height: 300px;
  text-align: center;
}

h1 {
  font-size: 5rem;
  font-family: "Caviar-Dreams", sans-serif;
}

.role {
  margin-top: -40px;
  font-size: 2rem;
  font-family: "Kindergarten", sans-serif;
}

.fatou-icon {
  width: 200px;
  height: auto;
  margin-top: -100px;
  margin-left: 350px;
  transform: rotate(15deg);
}

.btn {
  background-color: #fff;
  height: 200px;
  width: 160px;
  border-top: #fff;
  cursor: grab;
  font-size: 1.4rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Kindergarten", sans-serif;
  transition: transform 0.1s ease-out; /* transition for transform */
}

.btn.drop-down {
  transform: translateY(100px); /* drop-down effect */
}

.btn:hover {
}
#btn1 {
  border-left: 2px solid #000;
  border-right-style: dashed;
}

#btn2 {
  border-left-style: dashed;
  border-right-style: dashed;
}

#btn3 {
  border-right: 2px solid #000;
  border-left-style: dashed;
}

.btn:hover {
  transform: translateY(10px) rotate(2deg);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}

/* starta rip of-animation starts when clicking */
.btn:active {
  animation: tearOff 0.5s ease-out forwards;
}

/* Keyframes for rip of-animation */
@keyframes tearOff {
  0% {
    transform: translateY(0) rotate(0);
    opacity: 1;
  }
  30% {
    transform: translateY(20px) rotate(5deg);
  }
  60% {
    transform: translateY(50px) rotate(-10deg);
    opacity: 0.8;
  }
  100% {
    transform: translateY(100px) rotate(15deg);
    opacity: 0;
  }
}

footer {
  margin-top: 60px;
  font-size: 0.7rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  padding: 10px;
}
.vertical-btn {
  transition: opacity 0.5s ease-out; /* transition for opacity */
}

.vertical-btn.hidden {
  opacity: 0; /*  0 for fade-out effect */
  pointer-events: none; /* Disable pointer events when hidden */
}
