@font-face {
  font-family: "Kindergarten";
  src: url("../assets/fonts/Kindergarten/kindergarten.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.aboutme-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.aboutme-content {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 900px;
  height: 95%;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 2px solid #000;
}

#exit-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: auto;
  cursor: pointer;
}

.Fatou-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

#Fatou {
  width: 250px;
  height: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 2px solid #000;
}

.info-about-me {
  flex: 1;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.info-about-me,
p {
  font-size: 1rem;
  margin-bottom: 10px;
  
}

.skills {
  margin-top: 20px;
  font-family: "Kindergarten", sans-serif;
  
  
}
.skills2 {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.headings-about {
  font-family: "Kindergarten", sans-serif;
  font-size: 1.7rem;
  text-align: start;
  margin-top: 25px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
}
#icons {
  width: 45px;
  height: auto;
  margin: 0 10px;
  align-content: center;
}


/*smaller screens*/

@media (max-width: 600px) {
}

/*larger screens*/

@media (min-width: 601px) and (max-width: 900px) {
}
