.mywork-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    overflow-y: auto;
  }

  .portfolio, h2  {
   font-size: 2rem;
   margin-top: -5px;
  }
  
  .mywork-popup img#exit-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: auto;
    cursor: pointer;
  }
  
  .mywork-popup h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Kindergarten", sans-serif;
  }
  
  .portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%; 
    max-width: 800px; 
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 2px solid #000;
    position: relative;
  }
  
  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Set to 3 columns */
    width: 80%;
    justify-items: center; 
  }
  
  .project {
    background-color: #f9f9f9;
    padding: 10px; 
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 2px solid #000;
    text-align: center;
    width: 80%; 
    max-width: 300px; 
  }
  
  .project img.project-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 2px solid #000;
  }
  
  .project h3 {
    margin-top: 10px;
    font-family: "Kindergarten", sans-serif;
    font-size: 1.2rem; 
  }
  
  .project p {
    margin-top: 10px;
    font-size: 0.8rem;
    line-height: 1.5;
  }
  
  .project a {
    display: inline-block;
    margin-top: 10px;
  }
  
  .git-logo,
  .link-logo {
    width: 20px; 
    height: auto;
    margin: 0 5px;
    transition: transform 0.3s ease;
  }
  
  .git-logo:hover,
  .link-logo:hover {
    transform: scale(1.1);
  }